<div class="content">
    <h1>Conférences</h1>
    <p>
        <b>Vous êtes étudiant, enseignant-chercheur, personnel  de l’INSA ? Présentées par des professionnels, des ingénieurs expérimentés, des chercheurs, ces conférences sont faites pour vous !</b><br /><br />
        Fortes de leur succès lors des précédentes éditions, les conférences reviennent cette année <b>en ligne </b>avec de nouveaux thèmes et des intervenants de qualité.
    </p>
    <p>
        <img src="/images/conference2.jpg" style="width: 100%;display: block;margin-left:auto;margin-right:auto"/>
    </p>
    <p>
        Les conférences ont pour objectif de réunir des ingénieurs issus de domaines d'activité différents pour construire un débat sur des thèmes variés : <b>les enjeux du 1er emplois, la place de l’ingénierie écologique et durable, l’éthique de l'ingénieur. </b>
        <br/>C’est une opportunité pour bénéficier du partage d’expérience de professionnels et découvrir de nouveaux aspects d’un métier en perpétuelle évolution. A ce titre, les conférences ont pour vocation de créer un échange pour répondre à toutes vos interrogations sur le milieu ingénieur et aborder des thématiques d’avenir. 
        <br/>A la fin du débat un temps est consacré à la pose de questions par message. Nous vous attendons nombreux sur les lives !
    </p>
    <br />
    <div class="section">
        <h3>Au programme cette année</h3>



        <p>
            <table class="table table-hover">
                <tr>
                    <th>Conférence 1</th>
                    <td><i class="fa fa-briefcase"></i></td>
                    <td>
                        <b>Le 1<sup>er</sup> emploi : comment les entreprises restent attractives aux yeux de jeunes diplômés qui ont de plus en plus besoin de changement ?</b>
                    </br>Entre 2012 et 2015 en Ile de France, près de 1 jeune travailleur sur 3 n’a pas conservé le même type de contrat. L’instabilité du premier emploi est un phénomène connu, et qui a tendance à s’accentuer avec les nouvelles générations de travailleurs qui semblent vouloir  « changer d’air » de plus en plus tôt. Les entreprises doivent s’adapter à cette nouvelle tendance et rester attractives aux yeux des jeunes diplômés. Comment décrire leur intérêt à recruter des jeunes diplômés « sans expérience » et, à l’inverse, quelles sont les attentes qu’elles nourrissent auprès de ceux-ci ?
                    </td>
                    
                </tr>
                <tr>
                    <th><b>Conférence 2</b></th>
                    <td><i class="fa fa-globe"></i></td>
                    <td>
                        <b>Les enjeux de l’ingénierie écologique et durable et le rôle de sensibilisation de l’ingénieur
                        </b>
                    </br>Les enjeux écologiques de l’ingénierie n’ont jamais été aussi importants au sein des entreprises et laboratoires de recherche. Aujourd’hui, l’ingénieur se doit d’innover et d’imaginer des perspectives d’avenir encourageant une transition pour pallier à l’urgence climatique. Les obstacles sont multiples et tendent à limiter le développement d’une ingénierie plus raisonnable et durable, parfois à contre-courant avec le contexte socio-économique actuel. L’ingénieur tient un rôle prépondérant de sensibilisation pour encourager l’évolution des mentalités et la mise en place d’initiatives écoresponsables au sein de sa fonction.
                    </td>
                </tr>
                <tr>
                    <th><b>Conférence 3</b></th>
                    <td><i class="fa fa-balance-scale"></i></td>
                    <td>
                        <b>L’éthique de l’ingénieur : Est-il possible de concilier éthique et performance en entreprise ?
                        </b>
                    </br>Face aux récents scandales de grands groupes tels que Facebook, Lafarge ou Volkwagen, de nombreux étudiants s’interrogent sur la manière de concilier valeurs et travail. En effet, à l’ère de la globalisation et de la croissance à tout prix, les grandes entreprises sont souvent critiquées pour leur recherche de profit au détriment du bien commun. En tant que tête pensante et exécutive de ces organisations, l’ingénieur a-t-il un devoir moral envers la société et a-t-il toujours les moyens d’exercer son libre arbitre ? A travers cette conférence, nous souhaitons répondre à ces inquiétudes et donner les clefs à de futurs ingénieurs pour leur permettre de définir et d’exercer leur éthique tout en répondant aux attentes de performances en entreprise.

                    </td>
                </tr>
            </table>
        </p>




        <!--
        <p>
            Les conférences se dérouleront tout au long de la journée de <b>9h à 16h30</b> <i class="fa fa-clock-o"></i> en amphithéâtre Vinci <i class="fa fa-map-marker"></i>. Elles dureront entre 45' et 1h15' <i class="fa fa-stopwatch"></i> et seront composées d’un temps de présentation <i class="fa fa-quote-right"></i> et d’un temps de discussion <i class="fa fa-comments"></i> avec l’audience. Toutes les conférences seront suivies d’une pause collation <i class="fa fa-coffee"></i> où vous pourrez discuter avec les intervenants.
        </p>
        <br />
        <p>
            <p>Voici les <b>thèmes de conférences de l’édition 2019</b> du Forum <i>by</i> INSA :</p>
            <table class="table table-hover">
                <tr>
                    <th>9h - 10h15</th>
                    <td><i class="fa fa-briefcase"></i></td>
                    <td>1<sup>er</sup> emploi : réussir son insertion professionnelle ?</td>
                </tr>
                <tr>
                    <th><b>10h30 - 11h15</b></th>
                    <td><i class="fa fa-users"></i></td>
                    <td>Management de la diversité : le management responsable</td>
                </tr>
                <tr>
                    <th><b>11h30 - 12h45</b></th>
                    <td><i class="fa fa-industry"></i></td>
                    <td>Les grandes entreprises sont-elles la clé pour changer l’avenir ?</td>
                </tr>
                <tr>
                    <th><b>13h - 14h</b></th>
                    <td><i class="fa fa-balance-scale"></i></td>
                    <td>Ingénieur dans le privé ? Ingénieur dans le public ? Pour quelles carrières ?</td>
                </tr>
                <tr>
                    <th><b>14h15 - 15h15</b></th>
                    <td><i class="fa fa-globe"></i></td>
                    <td>Oser l’international : pourquoi faire le grand saut ?</td>
                </tr>
                <tr>
                    <th><b>15h30 - 16h30</b></th>
                    <td><i class="fa fa-search"></i></td>
                    <td>La R&D : un domaine aux multiples facettes ?</td>
                </tr>
            </table>
        </p>
    -->
    </div>
    <br />
    <div>
        <p>Les conférences de l’édition 2019 :</p>
        <ul>
            <li>1<sup>er</sup> emploi : réussir son insertion professionnelle ?</li>
            <li>Management de la diversité : le management responsable</li>
            <li>Les grandes entreprises sont-elles la clé pour changer l’avenir ?</li>
            <li>Ingénieur dans le privé ? Ingénieur dans le public ? Pour quelles carrières ?</li>
            <li>Oser l’international : pourquoi faire le grand saut ?</li>
            <li>La R&D : un domaine aux multiples facettes ?</li>
        </ul>
    </div>
</div>
