<div class="content">

    <h1>Contacts</h1>
    <table class="pure-table pure-table-horizontal" style="margin: auto; width: 100%;">
        <tr>
            <td>
                Président de l’Organisation
            </td>
            <td>
                Thibault Lagain<br/>
                <a href="mailto:lagain@etud.insa-toulouse.fr"> contact </a>
            </td>
        </tr>
        <tr>
            <td>
                Vice-Présidents de l'Organisation
            </td>
            <td>
                Clément Rigal - Responsable démarchage<br/>
                <a href="mailto:rigal@etud.insa-toulouse.fr"> contact </a><br/>
                Guillem Seychal - Responsable activités<br/>
                <a href="mailto:seychal@etud.insa-toulouse.fr"> contact </a>
            </td>
        </tr>
        <tr>
            <td>
                Responsable Speed Job Dating
            </td>
            <td>
                Julie Bourion<br/>
                <a href="mailto:bourion@etud.insa-toulouse.fr"> contact </a>
            </td>
        </tr>
        <tr>
            <td>
                Trésorier
            </td>
            <td>
                Mathilde Preire<br/>
                <a href="mailto:preire@etud.insa-toulouse.fr"> contact </a>
            </td>
        </tr>
        <tr>
            <td>
                Responsable Communication
            </td>
            <td>
                Julie Fié<br/>
                <a href="mailto:fie@etud.insa-toulouse.fr"> contact </a>
            </td>
        </tr>
        <tr>
            <td>
                Responsable Logistique
            </td>
            <td>
                Lou Buttin<br/>
                <a href="mailto:buttin@etud.insa-toulouse.fr"> contact </a>
            </td>
        </tr>
        <tr>
            <td>
                Responsable Conférences
            </td>
            <td>
                Antoine Salih Alj<br/>
                <a href="mailto:salihalj@etud.insa-toulouse.fr"> contact </a>
            </td>
        </tr>
        <tr>
            <td>
                Responsable Ateliers
            </td>
            <td>
                Morvan Nozahic<br/>
                <a href="mailto:nozahic@etud.insa-toulouse.fr"> contact </a>
            </td>
        </tr>
        <tr>
            <td>
                Responsable Site Web
            </td>
            <td>
                Anaïs Honnet<br/>
                <a href="mailto:honnet@etud.insa-toulouse.fr"> contact </a>
            </td>
        </tr>
</table>

</div>
