<div class="content">
    <h1>INSA Toulouse</h1>
    <img class="center" src="/images/collage_forum.jpg" style="width: 80%"/>
    <br/>
    <br/>
    <p>
        Avec près de 14 000 ingénieurs, présents dans tous les secteurs de l’économie, l’Institut National des Sciences Appliquées de Toulouse, école d’ingénieur publique, pluridisciplinaire et internationale, est reconnue pour l’excellence de sa formation en cinq ans après le bac, qui attire des élèves de haut niveau. Créé en 1963, l’INSA Toulouse fait partie du réseau des INSA composé de six écoles situées à Lyon, Rennes, Rouen, Toulouse, Strasbourg et Centre Val de Loire.
    </p>
    <p>
        Présente dans le top du classement des écoles d’ingénieurs Post-Bac selon letudiant.fr depuis de nombreuses années, l’INSA forme des ingénieurs formés au travail en équipe et sachant appliquer leur savoir théorique au monde professionnel.
    </p>
    <p>
        L’école offre 8 spécialités afin que chacun puisse trouver sa voie* :
    </p>
    <br/>
    <table class="table pure-table-striped">
        <tr>
            <td><a href="#ir">Informatique et Réseaux</a></td>
            <td><a href="#gmm">Mathématiques Appliquées</a></td>
            <td><a href="#ae">Automatique Electronique - Systèmes Embarqués</a></td>
            <td><a href="#gpe">Génie des Procédés Eau Énergie et Environnement</a></td>
            <td><a href="#gm">Génie Mécanique</a></td>
        </tr>
        <tr>
            <td><a href="#gb">Génie Biologique</a></td>
            <td><a href="#gp">Génie Physique</a></td>
            <td><a href="#gc">Génie Civil</a></td>
            <td><a href="#is">Ingénierie des Systèmes</a></td>
            
        </tr>
        
    </table>
    <br/>
    <p><i>*pour plus d’information sur une spécialité, cliquez dessus.</i></p>
    <br/>
    <p>
        De par sa volonté de former des ingénieurs en accord avec les attentes du monde du travail, l’INSA Toulouse se base sur quatre lignes directrices :
    </p>
    <br/>
    <h3>Une ouverture à l’international</h3>
    <p>
        L’école promeut de nombreux programmes d’échange en accueillant des étudiants étrangers (20% dans chaque promotion) et en incluant dans le cursus de chaque étudiant douze semaines au minimum dans un pays étranger. L’INSA a fait de l’enseignement des langues une de ses priorités : dans cette perspective, elle demande à ses futurs ingénieurs un certain niveau d’anglais attesté par un score de 815 au TOEIC.
    </p>
    <br/>
    <h3>Un enseignement adossé à une recherche de haut niveau</h3>
    <p>
        L’INSA Toulouse propose une palette de 8 spécialités, de l’Informatique au Génie Civil, en passant par les Mathématiques appliquées ou le Génie Biologique. Son enseignement, en lien avec les avancées scientifiques les plus récentes, s’appuie fortement sur l’activité de laboratoires de recherche de premier plan, soutenus par de grands groupes industriels, dans le domaine des nouveaux matériaux pour l’aéronautique par exemple, des technologies de préservation de l’environnement ou des nano-objets.
    </p>
    <br/>
    <h3>Une pédagogie innovante pour des apprentissages durables</h3>
    <p>
        Tout au long de leur scolarité, les étudiants sont confrontés à des projets et problèmes concrets, complexes, qu’ils doivent mener à bien en équipe, soutenus à la demande par leurs enseignants. Pas de question, pas de cours… tel est le principe de cette pédagogie active, expérimentée par des établissements de renom en Amérique comme en Europe du Nord, et désormais prônée par l’UNESCO.
    </p>
    <br/>
    <h3>Des ingénieurs ouverts sur le monde</h3>
    <p>
        L’international a constitué dès sa création une priorité pour l’école qui a mis en place progressivement des filières internationales. Sur le campus, un étudiant sur cinq est étranger.
        <br/>
        Les promotions accueillent des élèves aux profils diversifiés : bacheliers technologiques, ingénieurs en apprentissage et en formation continue. L’ouverture au monde, c’est également l’engagement citoyen des étudiants, fortement soutenu et valorisé au sein de la scolarité.
    </p>
    <br/>
    
    <br/>
    <br/>
    <br/>
    
    <h3>Les spécialités</h3>
    
    <br/>
    <h4 id="ir">Informatique et Réseaux</h4>
    <p>La spécialité “Informatique et Réseaux” propose aux étudiants une formation basée sur le développement de logiciels et la conception de systèmes informatiques complexes, communicants et distribués en réseaux, en intégrant des contraintes de sécurité, de temps réel ou encore de déploiement sur le Cloud. Pouvant suivre différentes spécialisations en 5eme année telles que Systèmes Distribués et Big Data, Systèmes Informatiques Embarqués, Sécurité ou encore Internet des Objets, les étudiants issus de cette formation ont de vastes connaissances sur le milieu informatique dans sa généralité. Pour plus d'informations, cliquez <a href="http://www.insa-toulouse.fr/fr/formation/ingenieur/specialites/rt.html">ici.</a>
    </p>
    <br/>
    <h4 id ="gmm">Mathématiques Appliquées</h4>
    <p>Le GMM est le département de Modélisation Mathématique qui abrite la spécialité Mathématiques Appliquées de l’INSA Toulouse. Chaque année, environ 50 nouveaux ingénieurs sont diplômés du GMM soit environ 900 ingénieurs depuis sa création. La formation permet aux futurs ingénieurs d’assurer un développement des compétences dans les domaines de la modélisation et simulation, de l’optimisation, du traitement du signal et de l’image ou encore de la valorisation de données massives. Deux orientations leur sont proposées : l’orientation Modélisation Mathématique Numérique (MMN), dédiée à la modélisation et simulation de phénomènes physiques et mécaniques, et l’orientation Méthodes et Modèles Statistiques (MMS), dédiée à la modélisation de phénomènes aléatoires et à la science des données. Pour plus d'informations, cliquez <a href="http://www.insa-toulouse.fr/fr/formation/ingenieur/specialites/gm.html">ici.</a>
    </p>
    <br/>
    <h4 id="ae">Automatique-Electronique Systèmes Embarqués</h4>
    <p>Les élèves-ingénieurs issus de la spécialité Automatique-Electronique Systèmes Embarqués sont experts dans la conception et l’analyse de circuits électroniques et dans l’automatisation de systèmes complexes. Sachant combiner leurs connaissances en informatique, télécommunication, réseaux et traitement du signal, ils maîtrisent la gestion des contraintes de ces systèmes telles que le temps réel, la consommation d’énergie et la sécurité. Ces ingénieurs sont aussi ouverts au monde, capables de communiquer et d’innover, tout en étant conscients de la complexité socio-économique de l’entreprise. Pour plus d'informations, cliquez <a href="http://www.insa-toulouse.fr/fr/formation/ingenieur/specialites/aei.html">ici.</a>
    </p>
    <br/>
    <h4 id="gpe">Génie des Procédés Eau Energie et Environnement</h4>
    <p>Le département de Génie des Procédés Eau Énergie et Environnement offre une formation permettant d’acquérir les compétences nécessaires pour répondre aux défis environnementaux et industriels actuels et futurs de notre société. L’étudiant de ce département dispose de connaissances en sciences fondamentales (chimie, mathématiques, thermodynamique notamment) mais aussi d’une maîtrise approfondie des concepts de base du génie des procédés. Pour plus d'informations, cliquez <a href="http://www.insa-toulouse.fr/fr/formation/ingenieur/specialites/gpi.html">ici.</a>
    </p>
    <br/>
    <h4 id="gm">Génie Mécanique</h4>
    <p>La spécialité Génie Mécanique forme des ingénieurs généralistes présentant un bon équilibre entre des connaissances scientifiques et technologiques et des systèmes. C’est une formation pluridisciplinaire, faisant intervenir de nombreux domaines de la physique et formant aux problématiques de l'ingénieur moderne. Elle s’inscrit dans une démarche d’ingénierie simultanée, et utilise toutes les données relatives à la vie d’un produit ou d’un système, depuis l’avant-projet jusqu’à sa réalisation et son recyclage éventuel. Elle vise à doter l’ingénieur de compétences larges, basées sur la complémentarité. Pour plus d'informations, cliquez <a href="http://www.insa-toulouse.fr/fr/formation/ingenieur/specialites/gmeca.html">ici.</a>
    </p>
    <br/>
    <h4 id="gb">Génie Biologique</h4>
    <p>Le Génie Biologique qu'est ce que c'est ? Département basé sur les technologies «pour et par le vivant», il s'intéresse à l'apprentissage des méthodes et techniques utilisant les capacités génétiques et physiologiques du vivant (plantes, micro-organismes, animaux...) pour mieux conduire ou contrôler des processus naturels. La formation vise à savoir maîtriser la conception et la réalisation de nouveaux biocatalyseurs (enzymes, micro-organismes), à pouvoir calculer et optimiser le fonctionnement des réacteurs biologiques et des opérations d'extraction ou purification. Pour plus d'informations, cliquez <a href="http://www.insa-toulouse.fr/fr/formation/ingenieur/specialites/gba.html">ici.</a>
    </p>
    <br/>
    <h4 id="gp">Génie Physique</h4>
    <p>Avec des enseignements portés sur la physique des atomes, les matériaux, l’électronique mais aussi la programmation, le département de Génie Physique dispense à ses étudiants une formation complète pour travailler dans les innovations et les nouvelles technologies. De l’instrumentation, jusqu’à la nanotechnologie, en passant par la physique fondamentale et le biomédical, l’ingénieur de génie physique est compétent dans de nombreux domaines. Pour plus d'informations, cliquez <a href="http://www.insa-toulouse.fr/fr/formation/ingenieur/specialites/gp.html">ici.</a>
    </p>
    <br/>
    <h4 id="gc">Génie Civil</h4>
    <p>Le département Génie Civil forme les ingénieurs de la construction de demain. Deux domaines se dissocient, le Bâtiment/Ouvrage et le Génie Climatique. Le domaine de Bâtiments/Ouvrages regroupent les différentes notions de dimensionnement, vérification des éléments de structures métalliques, bois ou béton. Toutes les notions de mécanique et de géotechnique y sont aussi restituées. Quant au domaine de Génie Climatique, il s’agit de s’intéresser au confort des utilisateurs au sein des bâtiments, en dimensionnant les installations afin d’assurer le besoin des utilisateurs tout en les optimisant. Allant de la mesure de la température, en passant par l’humidité, la qualité de l’air jusqu’à l’isolation acoustique, le confort n’a plus de secret. Pour plus d'informations, cliquez <a href="http://www.insa-toulouse.fr/fr/formation/ingenieur/specialites/gcu.html">ici.</a>
    </p>
    <br/>

    <h4 id="is">Ingénierie des Systèmes</h4>
    <p>L'orientation ingénierie des systèmes regroupe des élèves de formation mécanique, automatique et électronique. Elle a pour vocation de former des ingénieurs capables de spécifier, concevoir, gérer l'intégration et la validation de systèmes technologiques complexes. Ces systèmes, historiquement issus du domaine mécanique, ont évolué en intégrant d'autres technologies manipulant des signaux (capteurs, informatique...) ou de l'énergie (électrique, thermique, hydraulique...). Des phases d'analyse du besoin client aux phases de dimensionnement et de simulation, les ingénieurs systèmes issus de cette formation ont les connaissances et les compétences adéquates pour contribuer efficacement à relever les défis de notre temps.
   
    </p>
    <br/>


    <br/>
    <p>Pour plus d'informations, vous pouvez trouver le site de l'INSA Toulouse <a href="http://www.insa-toulouse.fr/fr/index.html">ici</a>.</p>



</div>
